<app-not-found [visible]="!food" resetLinkText="Go To Home"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favourite {{ food.favourite ? '' : 'not'}}" >❤</span>
        </div>
        <div class="star">
            <rating [(ngModel)]="food.star" style="font-size: 23px;" [max]="5" [readonly]="true"></rating>
        </div>
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div>
        <div class="tag">
            <app-tags [foodPagetags]="food.tags" justifyContent="start"></app-tags>
        </div>
        <div class="cook-time">
            <span>
                It will take <strong>{{food.cookingTime}}</strong> mins to cook.
            </span>
        </div>
        <div class="price">
            <span>
                {{food.price | currency:'INR'}}
            </span>
        </div>
        <button (click)="addToCart()">Add to Cart</button>
    </div>
</div>
